%nav.navbar.navbar-default{:role => "navigation"}
  .container
    #navbar-container.navbar-header
      %a.navbar-brand{:href => "/"} Mascio Odds
    %ul.nav.navbar-nav.pull-right.options
      %li
        = link_to "Teams", teams_path
      %li
        = link_to "Games", games_path
      %li
        = link_to "Confidence Scores", confidence_scores_path
