= link_to "New Game", new_game_path, remote: true, class: 'btn btn-default'

= render 'table', games: @games

#games-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
